.header {
  width: 10px;
  height: 20px;
}
.title {
  color: #ff0000;
}
.test1 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.test2 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.test3 h1 {
  font-size: 12px;
  font-weight: bold;
}
.test3 p {
  font-size: 12px;
}
.test3 p a {
  text-decoration: none;
}
.test3 p a:hover {
  border-width: 1px;
}
.test4 {
  color: #333333;
  border-left: 1px;
  border-right: 2px;
}
.test5 {
  color: #115511;
  border-color: #7d2717;
}
